.special {
  font-family: "Inter";
}
.special .container .special__title {
  color: #FF6868;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}
.special .container .special__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special .container .special__text .special__text-title {
  font-size: 60px;
  font-weight: 700;
  width: 580px;
}
.special .container .special__text .special__text-s {
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.special .container .special__text .special__text-s .special__text-s-b-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #EFEFEF;
  border-radius: 50%;
}
.special .container .special__text .special__text-s .special__text-s-b-1 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 7.76px;
  font-size: 30px;
  color: #6F6E6E;
}
.special .container .special__text .special__text-s .special__text-s-b-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #39DB4A;
  border-radius: 50%;
}
.special .container .special__text .special__text-s .special__text-s-b-2 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 7.76px;
  font-size: 30px;
  color: #FFFFFF;
}
.special .container .special__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special .container .special__cards .special__card {
  width: 445px;
  height: 525px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.special .container .special__cards .special__card .special__card-love {
  width: 87px;
  height: 75px;
  background-color: #39DB4A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 359px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.special .container .special__cards .special__card .special__card-salad {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.special .container .special__cards .special__card .special__card-salad img {
  width: 276px;
  height: 276px;
  background-position: center;
  background-size: cover;
}
.special .container .special__cards .special__card .special__card-text {
  padding-left: 46px;
}
.special .container .special__cards .special__card .special__card-text h1 {
  font-size: 30px;
  font-weight: 600;
}
.special .container .special__cards .special__card .special__card-text p {
  margin-top: 19px;
  text-align: left;
  color: #555555;
  font-size: 22px;
  font-size: 22px;
}
.special .container .special__cards .special__card .special__card-price {
  margin-top: -20px;
  padding: 0 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special .container .special__cards .special__card .special__card-price .special__card-price-1 p {
  font-size: 24px;
  font-weight: 600;
}
.special .container .special__cards .special__card .special__card-price .special__card-price-1 p span {
  color: #FF6868;
  font-size: 20px;
}
.special .container .special__cards .special__card .special__card-price .special__card-price-2 {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 24px;
}
.special .container .special__cards .special__card .special__card-price .special__card-price-2 img {
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
}
.special .container .special__cards .special__card .special__card-price .special__card-price-2 span {
  color: #454545;
  font-size: 24px;
  font-weight: 600;
}/*# sourceMappingURL=special.css.map */