.welcome {
  font-family: "Inter";
  padding-bottom: 200px;
  margin-top: 60px;
}
.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.welcome .welcome__title {
  font-size: 62px;
  font-weight: 800;
  font-family: "Inter", serif;
  color: #000;
  width: 590px;
  line-height: 90px;
}
.welcome .welcome__title span {
  color: #39DB4A;
}
.welcome .welcome__desc {
  font-size: 26px;
  font-weight: 500;
  line-height: 44px;
  color: #4A4A4A;
  width: 622px;
  margin-top: 60px;
}
.welcome .welcome__text {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 33px;
}
.welcome .welcome__text .btn {
  width: 230px;
  height: 80px;
  border-radius: 40px;
}
.welcome .welcome__text .welcome__text-desc {
  font-size: 26px;
  font-weight: 600;
  color: #4D4D4D;
}
.welcome .welcome__text .welcome__text-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.welcome .welcome__text .welcome__text-img img {
  margin-left: 5px;
}
.welcome .welcome__wrapper-img {
  background-image: url("/images/girl.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 725px;
  height: 767px;
}
.welcome .welcome__wrapper-img .welcome__hot {
  margin-top: 160px;
  margin-left: -50px;
  color: #FF6868;
  font-size: 20px;
  font-weight: 600;
  height: 67px;
  width: 250px;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #FBFBFB;
}
.welcome .welcome__wrapper-img .welcome__cards {
  margin-top: 495px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -28px;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card {
  background-color: #FFFFFF;
  width: 349px;
  height: 132px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card .welcome__card-text {
  padding-right: 10px;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card .welcome__card-img {
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 98px;
  width: 98px;
  margin: 17px 0 17px 20px;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card .welcome__card-desc {
  width: 200px;
  margin: 0;
  color: #515151;
  font-size: 24px;
  font-weight: 600;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card .welcome__card-desc span {
  color: #FF7979;
  font-size: 18px;
}
.welcome .welcome__wrapper-img .welcome__cards .welcome__card .welcome__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 26.63px;
  color: #2C2C2C;
}/*# sourceMappingURL=welcome.css.map */